body {
    margin: 0;
    background-color: #444;
}
header.main{
    height: 150px; 
    background: #333;
}
aside.main{
    display: block;
    height: 1500px;
    width: 18%;
    background-color: #666;
    float: left;
}
article.main{
    display: block;
    height: 1500px;
    width: 82%;
    float: left;
    background-color: #444;
}
footer.main{
    display: block;
    height: 300px;
    background-color: #333;
    clear: both;
}


ul.top-menu li{
    display: inline-block;
    width: 15%;
    text-align: center;
    margin-right: 5%;
}
ul.top-menu li a{
    color: aliceblue;
    text-decoration-line: none;
}
ul.top-menu li a:hover{
    color:#ffb500;
}
ul.top-menu{
    padding-left: 70%;
    margin: 0px;
    padding-top: 50px;
}

a.home{
    color: white;
    text-decoration-line: none;
    text-align: center;
    float: left;
    margin: 30px;
}
a.home>h1{
    float: right;
    margin-left: 10px;
}

nav{
    position: fixed;
    width: 100%;
    height: 30px;
}

.nav-up {
    top: -50px;
    transition:0.2s;
}

footer{
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 10px;
}
